#spreadsheet-table {
    user-select: none;
}

.spreadsheet-cell input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: none;
    outline: none;

    padding: 0;
    margin: 0;

    font: inherit;
    background: transparent;
}